
/*.label {
	border: 1px solid black;
	width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;	
}*/
h3 span {
	background-color: black;
	color: white;
}
h4 span {
	background-color: black;
	color: white;
}
.print-button{
	margin: 5px;
}

@media print {
  .print-button, .no-print *
  {
    display: none !important;
  }	
	header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
	  display: none !important;
	}
	h3 {
		font-size: 15pt;
	}
	h4 {
		font-size: 13pt;
	}
	@page { 
		margin: 0; 
		size: 2.0in 2.0in;
	}
	body {
		-webkit-print-color-adjust: exact !important;
  	margin: 0.25cm 0cm 0cm 0.8cm;
  	padding: 0;
}
}