
.label {
    width: 2in;
    height: 2in;
    border: solid 1px #aaa;
    margin: 0; padding: 0	
}

@media print {
	h3 {
		font-size: 12pt
	}

	h4 {
		font-size: 9pt;
	}
	@page { 
		margin: 0; 
		size: 2.0in 2.0in;
	}
	body { margin: 1.6cm; }
}